{
    "discord": {
        "prefix": "",
        "owner_id": "",
        "utils": {
            "invite": "",
            "log_webhook": ""
        }
    },
    "github": {
        "webhook_host": "",
        "webhook_port": 3000,
        "events": [
            "push",
            "public",
            "star",
            "fork"
        ]
    }
}
